<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
</head>
<body style="overflow:auto;font-size:12px">
    <div style="justify-content:center">
        <p style="text-align:center">
            <img src="~/logo/logo.png" style="width:500px;height:120px;justify-content:center" />
        </p>
        <p style="text-align:center">
            <img src="~/logo/windowsLogo_new.jpg" style="width:500px;height:600px;" />
        </p>
        <p style="text-align:center;">

            <img src="~/logo/erweima.jpg" style="width:80px;height:80px;"/>
            <span>更多相关资讯，请关注微信小程序果Jio</span>
        </p>
    </div>
  <!-- Ionic's root component and where the app will load -->
    <div style="width:100%;overflow:auto">

        <p style="text-align:center">
            <a style="" href="http://www.miibeian.gov.cn/">网站备案号：苏ICP备18036478号-1</a>
            <span>  </span>
            <a style="" href="http://www.miibeian.gov.cn/">ICP主体备案号:苏ICP备18036478号</a>
        </p>
        <p style="text-align:center">
            <span style="font-family:arial;">Copyright &copy;2018 上海果玖信息科技有限公司</span>
        </p>
    </div>

</body>
</html>
